<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device, initial-scale=1">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/myStyle.css">
		<script type="text/javascript" src="jquery/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<title>industriels</title>
	</head>
	<body>
		<div class="container-fluid">
			
			<header>
				<nav class="navbar navbar-inverted">
					<div class="navbar-header">
						<a href="" class="navbar-brand logo">vendci.</a>
					</div>
					<ul class="nav navbar-nav navbar-left ">
						<li><a href="index.html">Accueil</a></li>
						<li><a href="produits.html">Produits</a></li>
						<li>

							<div class="dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Categories
								<span class="caret"></span></button>
								<ul class="dropdown-menu">
								    <li><a href="vivriers.html">Produits Vivriers</a></li>
								    <div class="divider"></div>
								    <li><a href="industriels.html">Produits Industriel</a></li>
								    <div class="divider"></div>
								</ul>
							</div>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li>

							<div class="dropdown">
								<button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Mon Compte
								<span class="caret"></span></button>
								<ul class="dropdown-menu">
								    <li><a href="inscription.html">s'enregistrer</a></li>
								    <div class="divider"></div>
								    <li><a href="connection.html">se connecter</a></li>
								    <div class="divider"></div>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</header>

			<section id="indus">

				<h1 class="title">Les produits industriels</h1>
				<div class="container">
					<div class="col-sm-6 col-md-3 thumb">
						<a target="_blank" href="#" class="thumbnail">
						  <img src="images/cabosse.jpeg" alt="Forest">
						</a>
						<p class="text">le bon cacao ivoirien</p>
						<p class="price">2000 fcfa/kg</p>
						<p class="btn btn-success">commander</p>
					</div>

					<div class="col-sm-6 col-md-3 thumb">
						<a target="_blank" href="#" class="thumbnail">
						  <img src="images/cacao4.JPG" alt="Forest" >
						</a>
						<p class="text">connaisseur connait</p>
						<p class="price">2500 fcfa/kg</p>
						<p class="btn btn-success">commander</p>
					</div>

					<div class="col-sm-6 col-md-3 thumb">
						<a target="_blank" href="#" class="thumbnail">
						  <img src="images/riz_local.jpg" alt="Forest" >
						</a>
						<p class="text">le riz de chez nous</p>
						<p class="price">1000 fcfa/kg</p>
						<p class="btn btn-success">commander</p>
					</div>
				</div>
			</section>

		</div>

		<script type="text/javascript" src="js/myJs.js"></script>

	</body>
</html>