<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device, initial-scale=1">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/myStyle.css">
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="jquery/jquery-3.3.1.min.js"></script>
		<title>industriels</title>
	</head>
	<body>
		<div class="container-fluid">
			
			<header>
				<nav class="navbar navbar-warning">
					<div class="navbar-header">
						<a href="" class="navbar-brand">nom du site</a>
					</div>
					<ul class="nav navbar-nav navbar-left ">
						<li><a href="index.html">Accueil</a></li>
						<li><a href="produits.html">Produits</a></li>
						<li>

							<div class="dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Categories
								<span class="caret"></span></button>
								<ul class="dropdown-menu">
								    <li><a href="vivriers.html">Produits Vivriers</a></li>
								    <div class="divider"></div>
								    <li><a href="industriels.html">Produits Industriel</a></li>
								    <div class="divider"></div>
								</ul>
							</div>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li>

							<div class="dropdown">
								<button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Mon Compte
								<span class="caret"></span></button>
								<ul class="dropdown-menu">
								    <li><a href="inscrition.html">s'enregistrer</a></li>
								    <div class="divider"></div>
								    <li><a href="connection.html">se connecter</a></li>
								    <div class="divider"></div>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</header>

			<section id="navg">
				<nav class="navbar navbar-inverted">
					<div class="navbar-header">
						<a href="" class="navbar-brand">nom du site</a>
					</div>
					<ul class="nav navbar-nav navbar-left ">
						<li><a href="index.html">Publier un article de vente</a></li>
						<li><a href="produits.html"> Mes publications </a></li>
						<li><a href="#">Message</a></li>
					</ul>
				</nav>
			</section>

			<section id="vend">
				<div class="container">

				<a target="_blank" href="images/cabosse.jpeg" class="col-md-4">
				  <img src="images/cabosse.jpeg" alt="Forest" style="width:150px">
				  <p class="btn btn-success">prix</p>
				</a>

				<a target="_blank" href="images/cabosse.jpeg" class="col-md-4">
				  <img src="images/manioc-aliment-phare.jpg" alt="Forest" style="width:150px">
				  <p class="btn btn-success">prix</p>
				</a>

				<a target="_blank" href="images/cabosse.jpeg" class="col-md-4">
				  <img src="images/cacao4.JPG" alt="Forest" style="width:150px">
				  <p class="btn btn-success">prix</p>
				</a>

				<a target="_blank" href="images/cabosse.jpeg" class="col-md-4">
				  <img src="images/ananas-victoria.jpeg" alt="Forest" style="width:150px">
				  <p class="btn btn-success">prix</p>
				</a>

				<a target="_blank" href="images/cabosse.jpeg" class="col-md-4">
				  <img src="images/riz_local.jpg" alt="Forest" style="width:150px">
				  <p class="btn btn-success">prix</p>
				</a>

				<a target="_blank" href="images/cabosse.jpeg" class="col-md-4">
				  <img src="images/arrico_vert.png" alt="Forest" style="width:150px">
				  <p class="btn btn-success">prix</p>
				</a>

				

				

				</div>
			</section>

		</div>

	</body>
</html>